[bumpversion]
current_version = 0.3.5
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:mielofon-controller/Makefile]
search = PKG_VERSION:={current_version}
replace = PKG_VERSION:={new_version}

[bumpversion:file:mielofon-agent/Makefile]
search = PKG_VERSION:={current_version}
replace = PKG_VERSION:={new_version}

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
